---
import { SOCIAL_LINKS } from '../consts';
---

<div
  class="border-secondary/30 bg-secondary/5 dark:border-secondary/20 my-10 rounded-xl border border-dashed p-8 text-center"
>
  <div class="mb-4 flex animate-pulse justify-center text-primary">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="32"
      height="32"
      viewBox="0 0 24 24"
      fill="currentColor"
    >
      <path
        d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z"
      ></path>
    </svg>
  </div>

  <h3 class="mb-3 font-mono text-xl font-bold text-text-main">Thanks for reading!</h3>

  <p class="mx-auto mb-6 max-w-lg text-base text-text-muted">
    If you liked this article helpful, please consider sharing it with your network (using the
    buttons above) or following me for more updates (using the linkes below). I'm also happy to hear
    that you liked it, so feel free to reach out.
  </p>
</div>
